/*
스타일 적용하는 방법

1. <> 태그 명칭으로 스타일 적용하기
<h1>안녕하세요</h1>

h1 태그에 태그 명칭으로 스타일 적용하는 방법
h1{
  color : #2c3e50;
}

2. <> 태그 내 class 이름으로 스타일 적용하기

<div class="클래스이름">안녕하세요</div>

class 명칭으로 스타일 적용하는 방법
.클래스이름 {
  color : #2c3e50;
}

3. <> 태그 내 id 이름으로 스타일 적용하기
<div id="아이디이름">안녕하세요</div>

id 명칭으로 스타일 적용하는 방법
#아이디이름 {
  color : #2c3e50;
}

*/

/* 1번 방법으로 스타일 적용 */
h2 {
  color: #2c3e50;
  background-color: aqua;
}
