/* <body> </body> 태그 내부에 있는 글자와 이미지 등 모두 꾸미기 */
body {
  background-color: #f4f4f4;
  padding: 20px; /* 상 우 하 좌 여백 20 만큼 주기*/
}

/* <h1> </h1> 내부에 작성되어 있는 글자 꾸미기*/
h1 {
  /* 제목 아래에 회색 선 두께 2만큼 실선으로 색상은 #ccc 로 추가 */
  border-bottom: 2px solid #ccc;
}

/* <h3> </h3> 내부에 작성되어 있는 글자 꾸미기 */

h3 {
  /* <h3></h3>로 감싸져 있는 글자의 색상을 파란계열로 설정 */
  color: #007bff;
}

/* <pre> </pre> 내부에 작성되어 있는 글자 꾸미기 */
pre {
  background-color: #e9e9e9; /* pre 내의 배경색 설정*/
  padding: 15px; /* 상 우 하 좌 각각 15 씩 여백 설정*/
}

/* <form>     </form> 태그 영역 내부에 작성되어 있는 모든 태그 및 글자 꾸미기 */
form {
  background-color: #fff; /* 폼 내부 배경색상 하얀색*/
  border: 1px solid #ccc; /* 폼 테두리 선  두께 : 1 선 : 실선 색상 : #ccc */
  padding: 20px; /* 상 우 하 좌 모두 20px 씩 여백 주기 */
  margin-top: 20px; /* 위에 존재하는 태그와 20 정도 간격 떨어뜨리기 */
}

/* input 내에 type   text  password  number  date  time 의 기본 스타일을 모두 동일하게 변경 */

/*
<input type="text" name="username" />
<input type="text" name="input-id" />
<input type="password" name="input-pw" />
<input type="number" min="0" max="100" step="5" value="100" />
<li><input type="date" /></li>
<li><input type="month" /></li>
<li><input type="week" /></li>
<li><input type="time" /></li>
<li><input type="datetime-local" /></li>
*/
/* <input type="text" /> 로 되어있는 모든 태그에 스타일 적용 */
/* 여러 태그에 동일한 스타일을 설정해줄 때는 , 를 사용하여 작성 */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime-local"],
select,
button {
  border: 1px solid #ccc;
  border-radius: 4px; /* 모서리 둥글기 4 설정 */
  font-size: 16px; /* 평균 기본 글자 크기는 16px */
  padding: 8px; /* 상 우 하 좌 모두 여백 8 만큼 설정*/
  margin: 5px; /* 상 우 하 좌 모두 다른 태그와의 간격을 5 만큼 설정 */
}

/*<button> </button> 에 해당하는 스타일 설정*/
button {
  background-color: #007bff; /* 배경색상 : #007bff */
  color: white; /* 글자색상 : white */
  cursor: pointer; /* 버튼 위로 마우스 올라오면 마우스 모양이 손가락 선택 모양으로 변경 */
}
/* input 내에 type   radio  checkbox 의 기본 스타일을 모두 동일하게 변경 */

/* <input type="radio" /> <input type="checkbox" /> 로 되어있는 모든 태그에 스타일 적용 */
/* 여러 태그에 동일한 스타일을 설정해줄 때는 , 를 사용하여 작성 */
input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle; /* 글자와 세로 위치를 가운데로 맞춤 설정*/
}

/* 목록 <ul> </ul> 태그의 왼쪽에 배치되어 있는 점 없애기 설정 */
ul {
  list-style: none;
  padding: 0;
}

/*
ul 태그 내에 존재하는 모든 li 태그에 스타일 설정 
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
*/
ul li {
    margin-bottom: 10px ; /* 각 <li></li> 태그마다 아래에 간격 10정도 설정 */
}